<div ng-include=" 'modules/navbar/navbar.html' "></div>

<div class="authBox" ng-controller="LoginController">
  <div class="signUpBox" ng-if="signUpDisplay">
    <form class="signUpForm" ng-submit="signUpUser()">
      <input class="newUsername" type="text" placeholder="Username" ng-model="newUser.username"/>
      <input class="newPassword" type="password" placeholder="Password" ng-model="newUser.password"/>
      <button class="signUpButton" type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <span ng-click="toggleView()">Log in</span></p>
  </div>
  <div class="logInBox"  ng-if="!signUpDisplay">
    <form class="logInForm" ng-submit="logInUser()">
      <input class="existingUsername" type="text" placeholder="Username" ng-model="existingUser.username"/>
      <input class="existingPassword" type="password" placeholder="Password" ng-model="existingUser.password"/>
      <button class="logInButton" type="submit">Log In</button>
    </form>
    <p>Don't have an account yet? <span ng-click="toggleView()">Sign up</span></p>
  </div>
</div>